
{% extends 'basic.html' %}
{% load static %}
{% block content %}

<h1>Moment load vertical </h1>
<div class = "container-fluid"> 
    <div class = "row">
        <div class = "col-md-6">
            <form action="torquetoforce_calc" method="POST">
                {% csrf_token %}
                Axial force (N): <input type="text" name="force"><br><br>
                Lead (mm): <input type="text" name="lead"><br><br>
                Efficiency <input type="text" name="efficiency"><br><br>
                <input type="submit">
            </form>
        </div>
        <div class = "col-md-6">
            <img src="{% static 'verticalmomentload.png' %}" class="img-fluid" alt="Responsive image">
        </div>
    </div>
</div>
<h1> Required torque (Nm): {{torque}} </h1>
{% endblock %}